.weather {
  width: 22%;
  min-width: 250px;
  padding: 1em;
  border: 3px solid nth($purple, 1);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: nth($yellow, 2);
  text-align: center;
  color: nth($purple, 1);
  box-shadow: 4px 4px 2px 2px #b796d9;
  h2 {
    font-family: $f7;
    font-size: 20px;
    margin-bottom: 1em;
    &:hover {
      color: nth($purple, 2);
    }
  }
  .weatherContent {
    @include flex($a: center);
    text-align: center;
    .weatherCommon {
      height: 6.25em;
      h3 {
        margin-bottom: 1em;
      }
      &:hover {
        color: nth($purple, 2);
      }
    }
  }

  .temperatureAndWeather {
    flex-basis: 40%;
    .icon {
      margin-top: 0.5em;
      width: 3.125em;
      height: 3.125em;
    }
  }

  .fashion {
    flex-basis: 30%;
    p {
      font-size: 0.8em;
      margin-top: 0.23em;
    }
    .clothesImg {
      width: 3.125em;
      height: 3.125em;
    }
  }

  .humidity {
    flex-basis: 30%;
    p {
      font-size: 0.8em;
      margin-top: 0.23em;
      strong {
        display: inline-block;
      }
    }
    .hygrometer {
      width: 1.25em;
      height: 3.125em;
      position: relative;
      border: 2px solid nth($purple, 1);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin: 0 auto;
      div {
        width: 90%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: nth($purple, 1);
      }
    }
    &:hover {
      .hygrometer {
        border: 2px solid nth($purple, 2);
        div {
          background-color: nth($purple, 2);
        }
      }
    }
  }
}
