@charset "utf-8";

@import "reset";

@font-face {
  font-family: "LeeSeoyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

$f7: "SBAggroB";
$purple: #460373, #8149a6, #b796d9;
$yellow: #f2c777, #f2e6d8;
$imgUrl: "../assets/";

@mixin line {
  background-color: floralwhite;
  outline: 1px solid red;
}
@mixin flex($a: stretch, $j: space-between, $w: nowrap) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-wrap: $w;
}

.hide {
  display: none;
}

.App {
  position: relative;
  font-family: "LeeSeoyun";
}

@import "background", "weather";
